@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .profile-card{
        background: hsl(0, 0%, 12%) ;
        text-align: center;
        border-radius: 10px;
        padding: 25px;

        img{
            max-width: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        h2{
            color: white;
            font-size: 1.3em;
            font-weight: 500;
            margin-bottom: 5px;
        }
        h6{
            color:hsl(75, 94%, 57%) ;
            margin-bottom: 20px;
        }
        p{
            color: rgb(174, 171, 171);
            font-size: 12px;
            margin-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .social-links{
            a{
                display: block; 
                text-decoration: none; 
                color: aliceblue;  
                border-radius: 5px; 
                background-color: hsl(0, 0%, 20%);
                margin-top: 10px;
                font-size: 12px;
                font-weight: 700;
                padding-top: 10px;
                padding-bottom: 10px;

            }
            a:hover{
                background-color: hsl(75, 94%, 57%);
                color: hsl(0, 0%, 8%);
            }
            
        }
    }
}
